[submodule "KotlinListViewwithadapter"]
	path = KotlinListViewwithadapter
	url = https://github.com/eyadwin/KotlinListViewwithadapter.git
[submodule "LayoutTest"]
	path = LayoutTest
	url = https://github.com/eyadwin/LayoutTest.git
[submodule "KotlinIntent"]
	path = KotlinIntent
	url = https://github.com/eyadwin/KotlinIntent.git
