[submodule "KotlinListViewwithadapter"]
	path = KotlinListViewwithadapter
	url = https://github.com/eyadwin/KotlinListViewwithadapter.git
[submodule "LayoutTest"]
	path = LayoutTest
	url = https://github.com/eyadwin/LayoutTest.git
[submodule "KotlinIntent"]
	path = KotlinIntent
	url = https://github.com/eyadwin/KotlinIntent.git
[submodule "KotlinWebIntent"]
	path = KotlinWebIntent
	url = https://github.com/eyadwin/KotlinWebIntent.git
[submodule "KotlinStopWatch"]
	path = KotlinStopWatch
	url = https://github.com/eyadwin/KotlinStopWatch.git
